.yhdm-wrapper {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

  .play,
  #playbox,
  .bofang,
  .pp .player {
    height: 540px;
  }

  &.widescreen {
    * {
      visibility: hidden;
    }
    iframe {
      visibility: initial;
    }
  }
}
