.agefans-wrapper {
  .page-preview-trigger {
    .page-preview {
      position: fixed;
      pointer-events: none;
      background-color: rgb(32, 32, 32);
      border: 1px solid rgb(64, 64, 65);
      z-index: 1000;
      display: flex;
      border-radius: 4px;
      overflow: hidden;
      &-center {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .baseblock2 {
        border: none;
        border-left: 1px solid #404041;
        border-radius: 0;
      }
    }

    .blocktitle.detail_title1 {
      color: #e0e0e0;
      border-bottom: 1px solid #404041;
    }
    .detail_imform_tag {
      display: inline-block;
      color: #808081;
      min-width: 5em;
    }
    .detail_imform_value {
      color: #e0e0e0;
    }
    .detail_imform_show_full {
      display: none;
    }

    .detail_imform_kv {
      min-width: 200px;
      max-width: 256px;
      display: inline-block;
      margin: 3px 0px;
      word-break: break-all;
      word-wrap: break-word;
    }

    .detail_imform_desc_pre {
      font-size: 15px;
    }

    .detail_imform_desc_pre * {
      color: #e0e0e0;
    }

    .detail_imform_name {
      margin: 0px;
      color: #d0e0f0;
      font-size: 1.2em;
      font-weight: bold;
      display: inline-block;
    }
  }
}
