.agefans-setting {
  &-item {
    cursor: pointer;
    width: 100%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    line-height: 1;
    & + & {
      margin-top: 12px;
    }
    input {
      margin-right: 4px;
    }
  }
}
