#k-player-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;

  &.k-player-widescreen {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
  }

  .k-player-contianer {
    width: 100%;
    height: 100%;
  }

  #k-player-loading,
  #k-player-error {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    font-size: 88px;
    color: white;
    pointer-events: none;
  }
  .k-player-center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .error-info {
    text-align: center;
    padding: 24px;
    font-size: 18px;
  }

  .plyr {
    width: 100%;
    height: 100%;
  }
  video {
    display: block;
  }
  .plyr__next svg {
    transform: scale(1.7);
  }
  .plyr__widescreen svg {
    transform: scale(1.3);
  }
  .plyr--hide-cursor {
    cursor: none;
  }
  .plyr__control span:not(.plyr__tooltip) {
    color: inherit;
  }

  .plyr--hide-controls .k-player-progress {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.2s;
  }
  .k-player-fullscreen .k-player-progress {
    display: none;
  }
  .k-player-progress {
    opacity: 0;
    transition: opacity 0.2s ease-out;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    .k-player-progress-current {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      z-index: 2;
      background-color: rgba(35, 173, 229, 1);
    }
    .k-player-progress-buffer {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      height: 100%;
      background-color: var(
        --plyr-video-progress-buffered-background,
        rgba(255, 255, 255, 0.25)
      );
    }
  }

  .plyr__controls {
    .plyr__controls__item:first-child {
      margin-right: 0;
    }
    .plyr__controls__item.plyr__progress__container {
      position: absolute;
      top: 15px;
      left: 10px;
      right: 10px;
      --plyr-range-track-height: 2px;
      .plyr__progress input[type='range']::-webkit-slider-thumb {
        transform: scale(0);
        transition: transform 0.2s ease;
      }
      &:hover {
        --plyr-range-track-height: 4px;
        .plyr__progress input[type='range'] {
          cursor: pointer;
          &::-webkit-slider-thumb {
            transform: scale(1);
          }
        }
      }
    }
    .plyr__volume {
      margin-left: auto;
    }
  }
}

// loading
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.script-info {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  * {
    box-sizing: border-box;
  }
  width: 100%;
  tbody tr td:first-child {
    white-space: nowrap;
    width: 77px;
  }
  td {
    padding: 8px;
    border-bottom: 1px solid #f1f1f1;
    word-wrap: break-word;
    word-break: break-all;
  }
  .info-title {
    font-weight: 600;
    padding-top: 24px;
  }

  a {
    color: #1890ff;
    padding: 4px 8px;
    border-radius: 4px;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    background-color: #f1f1f1;
  }

  .shortcuts-wrap {
    display: flex;
    width: 100%;
    margin: -8px;
  }
  .shortcuts-table {
    flex: 1;
  }
  .key {
    display: inline-block;
    position: relative;
    background: #333;
    text-align: center;
    color: #eee;
    border-radius: 4px;
    padding: 2px 0;
    width: 56px;
    box-sizing: border-box;
    border: 1px solid #444;
    box-shadow: 0 2px 0 1px #222;
    border-bottom-color: #555;
    user-select: none;
  }
  .carousel {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    span {
      display: block;
      width: 100%;
      height: 100%;
      flex-basis: 100%;
      flex-shrink: 0;
      animation: carousel-3 6s infinite alternate;
    }
  }
}
@keyframes carousel-3 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-100%);
  }
  80% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-200%);
  }
}
