#k-player-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
  font-size: 14px;

  --k-player-background-highlight: rgba(95, 95, 95, 0.65);
  --k-player-background: rgba(0, 0, 0, 0.65);
  --k-player-color: white;
  --k-player-error-background: url(./assets/NachoNeko.png);

  $k-player-tsuma-list: url(./assets/NachoNeko1.png),
    url(./assets/NachoNeko2.png);
  --k-player-tsuma-length: #{length($k-player-tsuma-list)};

  --plyr-line-height: 1;
  --plyr-tooltip-background: var(--k-player-background);
  --plyr-tooltip-color: var(--k-player-color);
  --plyr-range-thumb-background: url(./assets/Hennyano.png) no-repeat
    center/contain;
  --plyr-range-thumb-width: 18px;
  --plyr-range-thumb-height: 18px;

  .plyr--full-ui.plyr--video input[type='range'] {
    cursor: pointer;
    &::-webkit-slider-thumb {
      transform: scale(0);
    }
    &:hover::-webkit-slider-thumb {
      transform: scale(1);
    }
    &:active::-webkit-slider-thumb {
      transition: all 0.1s linear;
      box-shadow: none;
    }
    $deg: 15deg;
    &.shake-0:active::-webkit-slider-thumb {
      transform: scale(1.3) rotate($deg);
    }
    &.shake-1:active::-webkit-slider-thumb {
      transform: scale(1.3) rotate(-$deg);
    }
  }

  &.k-player-widescreen {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
  }

  .k-player-contianer {
    width: 100%;
    height: 100%;
  }

  #k-player-loading,
  #k-player-error {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    font-size: 66px;
    color: white;
    pointer-events: none;
    background: black;
  }

  .k-player-error-img {
    background: var(--k-player-error-background) no-repeat center/contain;
    width: 200px;
    height: 200px;
    opacity: 0.4;
  }
  .k-player-error-info {
    text-align: center;
    padding: 24px;
    font-size: 18px;
  }

  #k-player-pip {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    pointer-events: none;
  }
  .k-player-tsuma {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: no-repeat center/contain;
    opacity: 0.1;
    z-index: -1;
    pointer-events: none;

    @each $bg in $k-player-tsuma-list {
      $i: index($k-player-tsuma-list, $bg);
      &[data-bg-idx='#{$i - 1}'] {
        background-image: $bg;
      }
    }
  }

  .k-player-center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #k-player-header {
    transform: translateY(0);
    transition: transform 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    text-align: right;
    .k-player-question-icon {
      font-size: 24px;
      width: 1em;
      height: 1em;
      color: white;
      cursor: pointer;
    }
  }
  .plyr--hide-controls {
    #k-player-header {
      transform: translateY(-100%);
    }
  }

  .plyr {
    width: 100%;
    height: 100%;
  }
  .plyr__control svg {
    font-size: 18px;
  }
  video {
    display: block;
  }
  .plyr__next svg {
    transform: scale(1.7);
  }
  .plyr__snapshot svg {
    transform: scale(1.3);
  }
  .plyr__widescreen svg {
    transform: scale(1.3);
  }
  .plyr--hide-cursor {
    cursor: none;
  }
  .plyr__control span:not(.plyr__tooltip) {
    color: inherit;
  }

  .plyr--hide-controls .k-player-progress {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.2s;
  }
  .k-player-fullscreen .k-player-progress {
    display: none;
  }
  .k-player-progress {
    opacity: 0;
    transition: opacity 0.2s ease-out;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    .k-player-progress-current {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      z-index: 2;
      background-color: rgba(35, 173, 229, 1);
    }
    .k-player-progress-buffer {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      height: 100%;
      background-color: var(
        --plyr-video-progress-buffered-background,
        rgba(255, 255, 255, 0.25)
      );
    }
  }

  .plyr__controls {
    .plyr__controls__item:first-child {
      margin-right: 0;
    }
    .plyr__controls__item.plyr__progress__container {
      position: absolute;
      top: 15px;
      left: 10px;
      right: 10px;
      --plyr-range-track-height: 2px;
      &:hover {
        --plyr-range-track-height: 4px;
      }
    }

    #k-speed {
      width: 60px;
      text-align: center;
      margin-left: auto;
      &-text {
        line-height: 32px;
      }
    }
  }

  @media (max-width: 480px) {
    .plyr__controls {
      padding-top: 30px;
    }
    [data-plyr='pip'],
    [data-plyr='snapshot'],
    [data-plyr='widescreen'] {
      display: none;
    }
  }
}

// loading
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
    &::after {
      content: ' ';
      display: block;
      position: absolute;
      top: 3px;
      left: 37px;
      width: 6px;
      height: 18px;
      border-radius: 20%;
      background: #fff;
    }
    $i: 1;
    @while $i < 13 {
      &:nth-child(#{$i}) {
        transform: rotate(#{30 * ($i - 1)}deg);
        animation-delay: #{-1.2 + $i * 0.1}s;
      }
      $i: $i + 1;
    }
  }
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.script-info {
  * {
    box-sizing: border-box;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  width: 100%;
  tbody tr td:first-child {
    white-space: nowrap;
    width: 77px;
  }
  td {
    padding: 8px;
    border-bottom: 1px solid #f1f1f1;
    word-wrap: break-word;
    word-break: break-all;
  }
  .info-title {
    font-weight: 600;
    padding-top: 24px;
  }

  a {
    color: #1890ff;
    padding: 4px 8px;
    border-radius: 4px;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    background-color: #f1f1f1;
  }

  .shortcuts-wrap {
    display: flex;
    width: 100%;
    margin: -8px;
  }
  .shortcuts-table {
    flex: 1;
  }
  .key {
    display: inline-block;
    position: relative;
    background: #333;
    text-align: center;
    color: #eee;
    border-radius: 4px;
    padding: 2px 0;
    width: 56px;
    box-sizing: border-box;
    border: 1px solid #444;
    box-shadow: 0 2px 0 1px #222;
    border-bottom-color: #555;
    user-select: none;
  }
  .carousel {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    span {
      display: block;
      width: 100%;
      height: 100%;
      flex-basis: 100%;
      flex-shrink: 0;
      animation: carousel-3 6s infinite alternate;
    }
  }
}
@keyframes carousel-3 {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-100%);
  }
  80% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.k-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  overflow: hidden;
  &-item {
    padding: 0 16px;
    line-height: 36px;
    height: 36px;
    cursor: pointer;
    width: 100%;
    color: white;
    transition: all 0.3s;
    text-align: center;

    &:hover {
      background: var(--k-player-background-highlight);
    }
  }
}
.k-menu-item.k-menu-active {
  color: #1890ff;
}

.k-settings {
  &-list {
    margin: 0;
    padding: 8px;
    text-align: left;
  }
  &-item {
    width: 100%;
    white-space: nowrap;
    color: white;
    display: flex;
    align-items: center;
    & + & {
      margin-top: 8px;
    }
    input {
      margin-right: 4px;
    }
  }
}
