.k-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2147483647;
  text-align: left;
  animation: fadeIn 0.3s ease forwards;
  color: rgba(0, 0, 0, 0.85);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  * {
    color: inherit;
  }

  &-mask {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.45);
    cursor: pointer;
  }
  &-wrap {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: auto;
    text-align: center;
    user-select: none;
    &::before {
      content: '';
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: middle;
    }
  }
  &-container {
    margin: 20px 0;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    position: relative;
    width: 520px;
    min-height: 100px;
    background: white;
    border-radius: 2px;
    user-select: text;
  }
  &-header {
    font-size: 16px;
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-title {
      padding: 16px;
      font-weight: 500;
    }
  }

  &-close {
    cursor: pointer;
    height: 55px;
    width: 55px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    * {
      color: rgba(0, 0, 0, 0.45);
      transition: color 0.15s ease;
    }
    &:hover * {
      color: rgba(0, 0, 0, 0.85);
    }
  }
  &-body {
    padding: 16px;
    font-size: 14px;
  }
  &-footer {
    padding: 10px 16px;
    font-size: 14px;
    border-top: 1px solid #f1f1f1;
    display: flex;
    justify-content: flex-end;
  }
  &-btn {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
    border: 1px solid #1890ff;
    background: #1890ff;
    color: white;
    min-width: 64px;
    cursor: pointer;
    padding: 0 8px;
  }
}
