.k-popover {
  position: relative;
  &-overlay {
    position: absolute;
    display: none;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    padding-bottom: 20px;
  }
  &-content {
    background: var(--k-player-background);
    border-radius: 4px;
    overflow-x: hidden;
    overflow-y: auto;
    cursor: initial;
    max-height: var(--k-player-popover-max-height, 70vh);
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
