.k-tab {
  flex: 1;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  padding: 8px 16px;

  &s {
    display: flex;
    position: relative;
    &-wrapper {
      text-align: left;
      * {
        box-sizing: border-box;
      }
    }
  }

  &-indicator {
    position: absolute;
    width: 0;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: var(--k-player-primary-color);
    transition: all 0.3s;
  }

  &s-panes {
    display: flex;
    flex-wrap: nowrap;
    transition: all 0.3s;
  }

  &-pane {
    flex: 0 0 100%;
    padding: 8px;
  }
}
