.bimi-wrapper {
  .play-full,
  #bkcl,
  marquee {
    display: none !important;
  }

  .k-episode-anchor:visited {
    color: white !important;
  }
  a.episode-active {
    background: var(--k-player-primary-color) !important;
    color: var(--k-player-color) !important;
  }
}
