.bimi-wrapper {
  .play-full,
  #bkcl,
  .watch-toolbar,
  .site-ad,
  marquee {
    display: none !important;
  }

  &.widescreen {
    .site-header {
      display: none !important;
    }
  }
  iframe {
    background: black;
  }
}
