.cycanime {
  [aria-label='广告'] {
    display: none !important;
  }

  .art-video-player {
    display: none !important;
  }
  #k-player-wrapper {
    position: absolute;
    inset: 0;
    z-index: 99999;
  }
  &.widescreen {
    #k-player-wrapper {
      position: fixed;
    }
  }
}
