.agefans-wrapper {
  .nav_button {
    cursor: pointer;
  }
  .res_links {
    word-break: break-all;
    word-wrap: break-word;
  }
}

@media (max-width: 480px) {
  .nav_button:nth-child(n + 6) {
    display: inline-block;
  }

  #nav {
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
    height: 91px;
    &::-webkit-scrollbar {
      display: none;
    }
    .nav_button {
      white-space: nowrap;
    }
  }

  #top_search_from {
    width: calc(100% - 16px);
    float: left;
    margin-top: 10px;
    position: sticky;
    left: 8px;
    margin: 8px;
  }
  #new_tip1 {
    margin-top: 10px !important;
  }
}
